@page
@model IndexModel
@{
    ViewData["Title"] = "Wellcome My Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to suraj's website </h1>
    <p>To learn more about <a href="https://www.brainwareuniversity.ac.in/">brainware University </a>.Please Click Here</p>
</div>
